  <div class="container cf {% if page.handle == 'our-founder' %}hidden-ian{% endif %}" data-cc-animate>
    <div class="page-header cf">
      <h1 class="majortitle">{{ page.title }}</h1>
    </div>
  </div>

  {% schema %}
  {
    "name": "header-hpr",
    "class": "page-section-spacing",
    "settings": []
  }
{% endschema %}